<mat-toolbar color="primary">
    <span>
        <a routerLink="/">CreateMyPlayer🏀</a>
    </span>
    <span class="spacer"></span>
    <ul>
        <li>
            <a mat-button routerLink="/create" routerLinkActive="activebutton">New Player🤾‍♂️</a>
        </li>
        <li>
            <a mat-button routerLink="/auth/login" routerLinkActive="activebutton">Login</a>
        </li>
        <li>
            <a mat-button routerLink="/auth/signup" routerLinkActive="activebutton">Sign Up</a>
        </li>
        <li>
            <button mat-button>Logout</button>
        </li>
    </ul>
</mat-toolbar>