a {
  text-decoration: none;
  color: #fff;
  margin: 0 10px;
}

ul {
  list-style: none;
  display: flex;
}

.spacer {
  flex: 1 1 auto;
}

.activebutton {
  background-color: #69f0ae;
}

mat-toolbar {
  position: fixed;
  top: 0;
  margin-bottom: 500px;
  z-index: 100;
}
