<mat-spinner *ngIf="isLoading"></mat-spinner>
<div class="pets-list" *ngIf="!isLoading && pets.length>0">
    <mat-card class="example-card" *ngFor="let pet of pets" [id]="pet.id">
        <mat-card-header>
            <!-- <div mat-card-avatar class="example-header-image"></div> -->
            <img mat-card-avatar
                src="https://img.freepik.com/premium-vector/creative-canine-logo-design-vector-dog-head-illustration-icon-pet-shop_950157-1962.jpg?w=2000"
                alt="">
            <mat-card-title>{{pet.name}}</mat-card-title>
            <mat-card-subtitle>{{pet.age}} years old</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]="pet.imagePath" alt="Photo of a Shiba Inu">
        <mat-card-actions>
            <button mat-mini-fab matTooltip="Accent" color="accent" aria-label="Example mini fab with a heart icon">
                <mat-icon>favorite</mat-icon>
            </button>
            <button mat-button type="button" [routerLink]="[pet.id]">DETAILS</button>
        </mat-card-actions>
    </mat-card>
</div>
<p class="info-text" *ngIf="pets.length<=0">There are no pets!</p>