.example-card {
  margin: 1em;
  background-color: #7b1fa2;
  width: 200px;
}

.example-header-image {
  background-image: url("https://img.freepik.com/premium-vector/creative-canine-logo-design-vector-dog-head-illustration-icon-pet-shop_950157-1962.jpg?w=2000");
  background-size: cover;
}

.pets-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2em;
}

button {
  border: 1px solid white;
  margin: 0 0.5em;
}

mat-card-actions {
  display: flex;
  justify-content: center;
}
mat-card-title {
  color: whitesmoke;
}
