<mat-card>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <form (submit)="onSavePet()" [formGroup]="petForm" *ngIf="!isLoading">
        <mat-form-field>
            <input matInput type="text" placeholder="Pet's name" formControlName="name">
            <mat-error *ngIf="petForm.get('name').invalid">Please enter pet's name.</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Pet's sex</mat-label>
            <select matNativeControl name="sex" formControlName="sex">
                <option value="M">M</option>
                <option value="F">F</option>
            </select>
            <mat-error *ngIf="petForm.get('sex').invalid">Please enter pet's sex.</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput type="number" placeholder="Pet's age" formControlName="age">
            <mat-error *ngIf="petForm.get('age').invalid">Please enter pet's age.</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput type="text" placeholder="Pet's type" formControlName="breed">
            <mat-error *ngIf="petForm.get('breed').invalid">Please enter pet's type.</mat-error>
        </mat-form-field>
        <div class="image-preview" *ngIf="imagePreview!=='' && imagePreview && petForm.get('image').valid">
            <img [src]="imagePreview" alt="petForm.value.name">
        </div>
        <div>
            <button mat-raised-button type="button" color="primary" (click)="filePicker.click()">Pick image</button>
            <input type="file" #filePicker (change)="onImagePicked($event)">
        </div>
        <button mat-raised-button color="accent" type="submit">Save Pet</button>
    </form>
</mat-card>