mat-form-field {
  width: 100%;
}

button {
  margin: 1em 2em;
}

input[type="file"] {
  visibility: hidden;
}

.image-preview {
  height: 15rem;
  margin: 1em 2em;
}

.image-preview img {
  height: 100%;
}
