mat-form-field {
  width: 100%;
}

button {
  margin: 1em;
}

input[type="file"] {
  display: none;
  visibility: hidden;
}

.image-preview {
  height: 15rem;
  margin: 1em 2em;
}

.image-preview img {
  height: 100%;
}

mat-card {
  margin-top: 6em;
}


@media (min-width: 576px) {
  button {
    margin: 1em 2em;
  }
}
