<div class="row">
    <div class="col-xs-12">
        <img alt="" style="max-height: 300px;">
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <h1>NAME</h1>
    </div>
</div>
<div class="row" style="margin-bottom: 20px;">
    <div class="col-xs-12">
        <div class="btn-group" appDropdown>
            <button class="btn btn-primary dropdown-toggle" type="button">Options <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li><a style="cursor: pointer;">Edit</a></li>
                <li><a style="cursor: pointer;">Delete</a></li>
            </ul>
        </div>
    </div>
</div>

<div style="background-color: #ffffff; margin-bottom: 10px; padding: 10px; border-radius: 8px;">
    <div class="row">
        <div class="col-xs-12">
            <p>Sex: </p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <p>Age: </p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <p>Breed:</p>
        </div>
    </div>

</div>