button {
  border: 1px solid white;
  background-color: #7b1fa2;
  color: white;
}

img {
  border-radius: 8px;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3em;
}

.details {
  margin: 0 2em;
  width: 30%;
}

.petDetails {
  font-size: 2rem;
}

h1 {
  font-size: 3rem;
}
