<mat-spinner *ngIf="isLoading"></mat-spinner>
<div class="main" *ngIf="!isLoading">
    <div class="details">
        <img [src]="pet.imagePath" alt="pet.name" style="max-height: 300px;">

        <div style="margin-bottom: 20px;">
            <h1>{{pet.name | uppercase}}</h1>
            <button *ngIf="userIsAuthenticated && userId== pet.creator" mat-button
                [matMenuTriggerFor]="menu">Menu</button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="onEditPet()">Edit</button>
                <button mat-menu-item (click)="onDeletePet(pet.id)">Delete</button>
            </mat-menu>
        </div>

        <div class="petDetails"
            style="background-color: #ffffff; margin-bottom: 10px; padding: 10px; border-radius: 8px;">
            <p>Sex: {{pet.sex}}</p>
            <p>Age: {{pet.age}}</p>
            <p>Breed: {{pet.breed | lowercase}}</p>
        </div>
    </div>


    <div class="comment-section">
        <div>
            <h2>Leave a Comment</h2>
            <textarea [(ngModel)]="newComment" placeholder="Type your comment here"></textarea>
            <div>
                <button mat-button (click)="onAddComment()" [disabled]="!newComment.trim()">Save Comment</button>
            </div>
        </div>
        <hr>
        <div>
            <h2>All Comments:</h2>
            <ul>
                <li *ngFor="let comment of pet.comments">- {{comment}}</li>
            </ul>
        </div>
    </div>
</div>