button {
  border: 1px solid white;
  background-color: #7b1fa2;
  color: white;
}

img {
  border-radius: 8px;
  margin-bottom: 1em;
  /* max-height: 300px; */
  width: 100%;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5em;
}

.details {
  margin: 0 2em;
}

.petDetails {
  font-size: 2rem;
}

h1 {
  font-size: 3rem;
  text-align: center;
}

textarea {
  padding: 1em;
  margin-bottom: 1em;
  resize: vertical;
  width: 400px;
  border-radius: 8px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 1em;
  padding: 1em;
  background-color: #fff;
  width: 90%;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
}

li:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.comment-warning {
  background-color: #ffe6e6;
  color: #cc0000;
  padding: 10px;
  border-radius: 5px;
  margin: 1.5em 0;
  font-size: 16px;
}

.comment-warning::before {
  content: "⚠ ";
  font-size: 1.8rem;
  margin-right: 5px;
}

.no-comments {
  color: #555;
  font-style: italic;
  margin-top: 10px;
  font-size: 1.8rem;
}

@media (min-width: 576px) {
  li {
    width: 100%;
  }
}
